/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
	background: #FFF;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}

#status, .status-mes {
	background-image: url('../img/Preloader_3.gif');
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	left: 50%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	width: 200px;
}

.status-mes {
	background: none;
	left: 0;
	margin: 0;
	text-align: center;
	top: 65%; 
}

.status-mes h4 {
	color: #222;
	margin-top: 30px;
}

/* ---------------------------------------------- /*
 * Section
/* ---------------------------------------------- */

.section_title {
    text-transform: uppercase;
}

.section_title h3 {
    font-weight: bold;
}

.section_title::first-letter {
    text-transform: lowercase;
}

.col-md-5 > h4 {
    text-decoration: underline;
}

.col-md-5 > p {
    text-align: justify;
}

/* ---------------------------------------------- /*
 * Apresentações
/* ---------------------------------------------- */

#apresentacoes {
    height: 100%;
    overflow: hidden;
}


@media screen and (min-width: 992px) {
    .apresentacoes {
        background-image: url('../img/img_apresentacoes_small.png');
    }
}

@media screen and (max-width: 992px) {
    .apresentacoes {
        background-image: url('../img/img_apresentacoes_big.jpg');
    }
}

.apresentacoes {
    height: 180px;
    background-size: cover;
    background-position: center;
}

#apresentacoes .col-md-5 {
    padding-top: 25.5px;
}

/* ---------------------------------------------- /*
 * Utilidades
/* ---------------------------------------------- */

.vertical_center_parent {
  position: relative;
}
.vertical_center_child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
