/*@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);*/
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* ---------------------------------------------- /*
 * Utils
/* ---------------------------------------------- */

/*Imagem preto e branco*/
.desature > img{
  -webkit-filter: grayscale(1); -webkit-filter: grayscale(100%);
  filter: gray; 
  filter: grayscale(100%);
    
  transition: all 0.4s linear;
}

/*Quando der hover tirar o preto e branco*/
/* Comentei porque nao vai ser mais assim
   acho interessante manter o codigo para o futuro
    
#lado_direito > .vertical_horizontal_center_parent:hover + .backstretch > img,
#lado_esquerdo > .vertical_horizontal_center_parent:hover + .backstretch > img{

  -webkit-filter: grayscale(0); -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
*/

/*Padding para o scroll nao sobrepor conteudo*/
.custom_padding{
  padding-top: 60px;
  padding-bottom: 60px;
}

/*Deixar videos no centro*/
.center_video{
  display: block;
  margin-left: auto;
  margin-right: auto
}

/*Override das setas padroes do bootstrap */
.carousel-control.left, .carousel-control.right{
  background-image: none;
}
.carousel-control{
  color: #000;
  opacity: 0.7;
}
.carousel-control:hover, .carousel-control:active, .carousel-control:focus{
  color: #F40;
}
/*Fim do Override das setas padroes do bootstrap */

/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
  background: #FFF;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

#status, .status-mes {
  background-image: url('../img/Preloader_3.gif');
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  width: 200px;
}

.status-mes {
  background: none;
  left: 0;
  margin: 0;
  text-align: center;
  top: 65%; 
}

.status-mes h4 {
  color: #222;
  margin-top: 30px;
}

/* ---------------------------------------------- /*
 * efeito de botão:  cria >[Brackets]
/* ---------------------------------------------- */
.cl-effect-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}
.cl-effect-1 a::before,
.cl-effect-1 a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.cl-effect-1 a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}


/* Effect 14: border switch */
#nav_intro a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1.35em;
}
    
.cl-effect-14 a {
	padding: 0 20px;
	height: 45px;
	line-height: 45px;
}

.cl-effect-14 a::before,
.cl-effect-14 a::after {
	position: absolute;
	width: 45px;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0.2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: none;
}

.cl-effect-14 a::before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
}

.cl-effect-14 a::after {
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::before,
.cl-effect-14 a:focus::after {
	opacity: 1;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:focus::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}

.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::after {
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}
/* ---------------------------------------------- /*
 * TUDO  DA NAVBAR AQUI
/* ---------------------------------------------- */
.navbar-inverse {
    background-color: #191C1E;
    border-color: #141414;
}
.navbar {
    /*position: relative;*/
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
}
@media (min-width: 768px) {
    .navbar-header {
        float: left;
    }
}
/* ---------------------------------------------- /*
 * Tela inicial
/* ---------------------------------------------- */
.tela_inteira{
  width: 100%;
  height: 100%;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}
.full_height{
  height: 100vh;
}
/* ---------------------------------------------- /*
 * Section
/* ---------------------------------------------- */

.section_title {
    text-transform: uppercase;
}

.section_title h3 {
    font-weight: bold;
}

.section_title > h3::first-letter {
    text-transform: lowercase;
}

.col-md-5 > h4 {
    text-decoration: underline;
}

.col-md-5 > p {
    text-align: justify;
}

/* ---------------------------------------------- /*
 * Release
/* ---------------------------------------------- */

.release {
    font-size: 2em;
    quotes: "\201C""\201D""\2018""\2019";
}

.release > div > p::before {
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.5em;
}

/* ---------------------------------------------- /*
 * Apresentações
/* ---------------------------------------------- */

#apresentacoes {
    height: 100%;
    overflow: hidden;
}


@media screen and (min-width: 992px) {
    .apresentacoes {
        background-image: url('../img/img_apresentacoes_small.png');
    }
}

@media screen and (max-width: 992px) {
    .apresentacoes {
        background-image: url('../img/img_apresentacoes_big.jpg');
    }
}

.apresentacoes {
    height: 180px;
    background-size: cover;
    background-position: center;
}

#apresentacoes .col-md-5 {
    padding-top: 25.5px;
}

/* ---------------------------------------------- /*
 * Utilidades
/* ---------------------------------------------- */

.vertical_center_parent {
  position: relative;
}
.vertical_center_child {
  position: absolute;
  top: 50%;
}
.vertical_horizontal_center_parent {
  position: relative;
  width: 100%;
  height: 100%;
}
.vertical_horizontal_center_child {
  position: absolute;
  top: 50%;
  left: 50%;
}

.text_center {
    text-align: center;
}

/* ---------------------------------------------- /*
 * CUSTOMIZE THE CAROUSEL
/* ---------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
}
/* Sobrepor legenda */
.carousel-caption {
  z-index: 10;
}

/* Declara tamanhos para posicionar imagens */
.carousel .item {
  height: 500px;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* ---------------------------------------------- /*
 * Galeria imagens
/* ---------------------------------------------- */

.portfolio-item {
  margin-bottom: 20px;
  overflow: hidden;
}

.portfolio-item img {
  max-width: 100%;
}
.portfolio-item-preview {
  position: relative;
}

.portfolio-item:hover .portfolio-item-preview {
  -webkit-transform: scale(1.1) rotate(2deg);
  -moz-transform: scale(1.3) rotate(3deg);
  -ms-transform: scale(1.3) rotate(3deg);
  -o-transform: scale(1.3) rotate(3deg);
  transform: scale(1.2) rotate(3deg);
}

.portfolio-item-preview {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;

  transition: all 0.3s ease-in-out 0s;
}

.portfolio-item:hover .portfolio-item-description {
  opacity: 1;
  bottom: 0;
}

.portfolio-item-description {
  background: rgba(255, 255, 255, .85);
  position: absolute;
  right: 0;
  bottom: -70px;
  left: 0;
  padding: 25px;
  text-align: center;
  opacity: 0;
  color: #222;
}

/* ---------------------------------------------- /*
 * Form Z6 footer
/* ---------------------------------------------- */

#container_contato a{
  color: #EF4836;
}

#container_contato h2{
  font-size: 40px;
  font-weight: 700;
  font: 400 46px/1.2 'Montserrat', serif, sans-serif;
}

#container_contato .icon-list{
  list-style: none;
  padding: 0px;
}

#container_contato .btn-custom-1{
  background: transparent;
  border: 2px solid #EF4836;
  padding: 15px 25px;
}

#container_contato .btn-custom-1:hover, .btn-custom-1:focus, .btn-custom-1:active, .btn-custom-1.active {
  background: #EF4836;
  border: 2px solid #EF4836;
  color: #FFF;
}

#container_contato {
  background: #18191a;
  color: #FFF;
  padding: 80px 0;
}

#container_contato h1, #container_contato h2, #container_contato h3, #container_contato h4, #container_contato h5, #container_contato h6 {
  color: #FFF;
}

#container_contato .form-control {
  border: 0;
}

.ajax-response {
  margin-top: 15px;
}

#footer {
  background: #141414;
  padding: 20px 0;
  color: #FFF;
}

#footer .copy {
  font-size: 12px;
  margin: 5px 0;
}
/* ---------------------------------------------- /*
 * Z6 footer
/* ---------------------------------------------- */

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #1f1f1f;
}

/* ---------------------------------------------- /*
 * button pagina inicial
/* ---------------------------------------------- */

.button-big-p a {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 1.35em;
}

.button-big-p a:hover,
.button-big-p a:focus {
  outline: none;
}

.button-big {
  color: #fff;
  font-weight: bold;
  margin: 0 10px;
  padding: 10px 20px;
}

.button-big:hover {
   color: #fff;
   text-decoration: none;
   cursor: pointer;
}

.button-big::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  transition: top 0.3s;
}

.button-big::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}

.button-big:hover::before {
  top: 100%;
  opacity: 1;
}

.button-big:hover::after {
  height: 100%;
} 

