@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


body{

}

/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
	background: #FFF;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}

#status, .status-mes {
	background-image: url('../img/Preloader_3.gif');
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	left: 50%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	width: 200px;
}

.status-mes {
	background: none;
	left: 0;
	margin: 0;
	text-align: center;
	top: 65%; 
}

.status-mes h4 {
	color: #222;
	margin-top: 30px;
}

/* ---------------------------------------------- /*
 * efeito de botão:  cria >[Brackets]
/* ---------------------------------------------- */
.cl-effect-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}
.cl-effect-1 a::before,
.cl-effect-1 a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.cl-effect-1 a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}
/* ---------------------------------------------- /*
 * TUDO  DA NAVBAR AQUI
/* ---------------------------------------------- */
.navbar-inverse {
    background-color: #191C1E;
    border-color: #141414;
}
.navbar {
    /*position: relative;*/
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
}
@media (min-width: 768px) {
    .navbar-header {
        float: left;
    }
}

/* ---------------------------------------------- /*
 * Section
/* ---------------------------------------------- */

.section_title {
    text-transform: uppercase;
}

.section_title h3 {
    font-weight: bold;
}

.section_title::first-letter {
    text-transform: lowercase;
}

.col-md-5 > h4 {
    text-decoration: underline;
}

.col-md-5 > p {
    text-align: justify;
}

/* ---------------------------------------------- /*
 * Apresentações
/* ---------------------------------------------- */

#apresentacoes {
    height: 100%;
    overflow: hidden;
}


@media screen and (min-width: 992px) {
    .apresentacoes {
        background-image: url('../img/img_apresentacoes_small.png');
    }
}

@media screen and (max-width: 992px) {
    .apresentacoes {
        background-image: url('../img/img_apresentacoes_big.jpg');
    }
}

.apresentacoes {
    height: 180px;
    background-size: cover;
    background-position: center;
}

#apresentacoes .col-md-5 {
    padding-top: 25.5px;
}

/* ---------------------------------------------- /*
 * Utilidades
/* ---------------------------------------------- */

.vertical_center_parent {
  position: relative;
}
.vertical_center_child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* ---------------------------------------------- /*
 * CUSTOMIZE THE CAROUSEL
/* ---------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Sobrepor legenda */
.carousel-caption {
  z-index: 10;
}

/* Declara tamanhos para posicionar imagens */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* ---------------------------------------------- /*
 * Form Z6 footer
/* ---------------------------------------------- */

#container_contato a{
	color: #EF4836;
}

#container_contato h2{
	font-size: 40px;
	font-weight: 700;
	font: 400 46px/1.2 'Montserrat', serif, sans-serif;
}

#container_contato .icon-list{
	list-style: none;
	padding: 0px;
}

#container_contato .btn-custom-1{
	background: transparent;
	border: 2px solid #EF4836;
	padding: 15px 25px;
}

#container_contato .btn-custom-1:hover, .btn-custom-1:focus, .btn-custom-1:active, .btn-custom-1.active {
	background: #EF4836;
	border: 2px solid #EF4836;
	color: #FFF;
}

#container_contato {
	background: #18191a;
	color: #FFF;
	padding: 80px 0;
}

#container_contato h1, #container_contato h2, #container_contato h3, #container_contato h4, #container_contato h5, #container_contato h6 {
	color: #FFF;
}

#container_contato .form-control {
	border: 0;
}

.ajax-response {
	margin-top: 15px;
}

#footer {
	background: #141414;
	padding: 20px 0;
	color: #FFF;
}

#footer .copy {
	font-size: 12px;
	margin: 5px 0;
}
